<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleindex.css">
    <link href="https://fonts.googleapis.com/css?family=Estonia:regular" rel="stylesheet" />     
    <title>Hello</title>
</head>
<body>
    <div id='tela'>
        <div id="escurecer"></div>
        <div class="central">
            <div id='div_frase'>
                <div class="pt4">Encante o mundo com suas</div>
                <div class="pt5">palavras!</div>
            </div>
            <div class='container'>
                <div></div>
                <div id='logo'></div>
                <div></div>
                <div></div>
                <a href=''>
                    <div id='botao'>
                        Confira já!
                    </div>
                </a>
                <div></div>
            </div>   
        </div>
    </div>
    <script>
        var botao = document.querySelector("#botao")
        var escurecer = document.querySelector('#escurecer')
        botao.addEventListener('mouseover', function()
        {
            if (botao.classList.contains('desselecionado'))
            {
                botao.classList.replace('desselecionado', 'selecionado')
            }
            else
            {
                botao.classList.add('selecionado');
            }
            if (escurecer.classList.contains('enclarecido'))
            {
                escurecer.classList.replace('enclarecido', 'escurecido');
            }
            else
            {
                escurecer.classList.add('escurecido');
            }
        })
        botao.addEventListener('mouseout', function()
        {
            botao.classList.replace('selecionado', 'desselecionado')
            escurecer.classList.replace('escurecido', 'enclarecido');
        })
    </script>
</body>
</html>